@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

.espacos {
    padding-bottom: 1.5em;
}

.paragrafo {
    font-size: 1.2em;
    text-indent: 1em;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-tabs, .nav-pills {
    text-align: center;
}

p, q, blockquote {
    font-family: 'Questrial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* --------------------- navbar --------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

.paragrafo {
    font-size: 1.2em;
    text-align: justify;
    text-indent: 2em;
}

.non-paragrafo {
    font-size: 1.2em;
    text-align: justify;
}

/* navbar */
.navbar-default {
    background-color: #e5e5e5;
    border-color: #E7E7E7;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    box-shadow: 0 0 3px #333;
}

/* Title */
.navbar-default .navbar-brand {
    color: #777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #222;
    background-color: #f0f0f0;
    box-shadow: 0 3px #121212;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #121212;
    background-color: #E7E7E7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.title-box {
    color: #202020;
    font-family: 'Montserrat', sans-serif;
}

.title-desc {
    font-family: 'Raleway', sans-serif;
    text-indent: 1em;
}

.admin-box {
    background-color: #b5d4dd;
}

.admin-box:hover {
    background-color: #b6cad0;
    cursor: pointer;
}

.box {
    border-width: 0px;
    box-model: border-box;
    border: 10px solid #fff;
    background-clip: padding-box;
}